<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.objectbox.objectbox_sync_flutter_libs"
  xmlns:tools="http://schemas.android.com/tools">

    <!--
    Remove permissions added by the objectbox-meshsync-android dependency.
    Consuming projects are expected to add them explicitly, see the README.
    -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:node="remove" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />

</manifest>
