name: objectbox_sync_flutter_libs
description: Fast Flutter database for persisting Dart objects. This package contains Flutter runtime libraries for ObjectBox, including ObjectBox Sync.
repository: https://github.com/objectbox/objectbox-dart
homepage: https://objectbox.io
version: 1.7.2

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  # This is here just to ensure compatibility between objectbox-dart code and the libraries used
  # You should still depend on objectbox directly in your Flutter application.
  objectbox: 1.7.2
  path_provider: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: io.objectbox.objectbox_sync_flutter_libs
        pluginClass: ObjectboxSyncFlutterLibsPlugin
      ios:
        pluginClass: ObjectboxSyncFlutterLibsPlugin
      linux:
        pluginClass: ObjectboxSyncFlutterLibsPlugin
      macos:
        pluginClass: ObjectboxSyncFlutterLibsPlugin
      windows:
        pluginClass: ObjectboxSyncFlutterLibsPlugin
