name: objectbox_demo_desktop
description: An example project for the objectbox-dart binding.

version: 0.2.0

environment:
  sdk: '>=2.5.0-dev.2.0 <3.0.0'
  flutter: '>=1.9.8-pre.31'

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^0.1.0
  
  objectbox:
    path: ../../../objectbox

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: 1.0.0
  objectbox_model_generator:
    path: ../../../objectbox_model_generator

flutter:
  uses-material-design: true

  # See https://github.com/flutter/flutter/wiki/Desktop-shells#fonts
  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
