name: objectbox
description: Flutter database for super-fast NoSQL ACID compliant object persistence.
homepage: https://objectbox.io
# Link to actual directory in repository so file links on pub.dev work.
repository: https://github.com/objectbox/objectbox-dart/tree/main/objectbox
documentation: https://docs.objectbox.io
version: 4.0.2

environment:
  # minimum Dart SDK (also see generator and flutter_libs)
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  collection: ^1.15.0
  # take care updating flatbuffers - keep aligned with other bindings
  flat_buffers: 23.5.26
  ffi: ^2.0.2
  meta: ^1.3.0
  path: ^1.8.0

dev_dependencies:
  ffigen: ^7.2.11 # v8 requires Dart 3, not requiring it, yet.
  # lints 2.1.0+ requires Dart 3, but CI still tests with Dart 2, but also need 3.0.0+ to match pana
  lints: '>=2.0.1 <4.0.0'
  test: ^1.16.5 # To run coverage on this package.

ffigen:
  name: 'ObjectBoxC'
  description: 'Bindings to ObjectBox C-API'
  output: 'lib/src/native/bindings/objectbox_c.dart'
  headers:
    entry-points:
      # NOTE: replace `const void*` by `const uint8_t*` in all objectbox*.h files when upgrading
      # This is to avoid casting Pointer<Uint8> to Pointer<Void> in Dart.
      - 'lib/src/native/bindings/objectbox.h'
      - 'lib/src/native/bindings/objectbox-dart.h'
    include-directives:
      - '**objectbox*.h'
  functions:
    rename:
      'obx_dart_(.*)': 'dartc_$1'
      'obx_(.*)': '$1'
    # Expose some native pointers to use with NativeFinalizer API.
    # https://pub.dev/packages/ffigen#how-to-expose-the-native-pointers
    symbol-address:
      include:
        - 'obx_admin_close'
        - 'obx_query_close'
        - 'obx_query_prop_close'
        - 'obx_store_close'
  enums:
    member-rename:
      '(.*)': # Matches any enum.
        # Removes anything before the first '_', i.e. OBXOrderFlags_CASE_SENSITIVE becomes CASE_SENSITIVE.
        '[^_]+_(.*)': '$1'
  # pana ignores exclude rules in analysis_options.yaml, explicitly add ignore rules.
  preamble: |
    // ignore_for_file: non_constant_identifier_names, public_member_api_docs, prefer_expression_function_bodies, avoid_positional_boolean_parameters, constant_identifier_names, camel_case_types
