name: objectbox
description: Flutter database for super-fast NoSQL ACID compliant object persistence.
homepage: https://objectbox.io
repository: https://github.com/objectbox/objectbox-dart
documentation: https://docs.objectbox.io
version: 1.6.2

environment:
  # minimum Dart SDK (also see generator and flutter_libs)
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  collection: ^1.15.0
  # take care updating flatbuffers - keep aligned with other bindings
  flat_buffers: 2.0.5
  ffi: '>=1.0.0 <3.0.0'
  meta: ^1.3.0
  path: ^1.8.0

dev_dependencies:
  async: ^2.8.2
  build_runner: ^2.0.0
  objectbox_generator: any
  test: ^1.16.5
  ffigen: ^4.1.3
  lints: ^1.0.1

# NOTE: remove before publishing
dependency_overrides:
  objectbox_generator:
    path: ../generator

ffigen:
  name: 'ObjectBoxC'
  description: 'Bindings to ObjectBox C-API'
  output: 'lib/src/native/bindings/objectbox_c.dart'
  headers:
    entry-points:
      # NOTE: replace `const void*` by `const uint8_t*` in all objectbox*.h files when upgrading
      - 'lib/src/native/bindings/objectbox.h'
      - 'lib/src/native/bindings/objectbox-dart.h'
    include-directives:
      - '**objectbox*.h'
  functions:
    rename:
      'obx_dart_(.*)': 'dartc_$1'
      'obx_(.*)': '$1'
  enums:
    member-rename:
      '(.*)': # Matches any enum.
        # Removes anything before the first '_', i.e. OBXOrderFlags_CASE_SENSITIVE becomes CASE_SENSITIVE.
        '[^_]+_(.*)': '$1'
  # add location to standard library imports, e.g. stddef.h
  llvm-path:
    - '/usr/lib/llvm-12'
  compiler-opts: '-I/usr/lib/clang/12.0.0/include'
  typedef-map:
    'size_t': 'IntPtr'
  # pana ignores exclude rules in analysis_options.yaml, explicitly add ignore rules.
  preamble: |
    // ignore_for_file: non_constant_identifier_names, public_member_api_docs, prefer_expression_function_bodies, avoid_positional_boolean_parameters, constant_identifier_names, camel_case_types
