name: objectbox
version: 0.13.0
repository: https://github.com/objectbox/objectbox-dart/tree/main/objectbox
homepage: https://objectbox.io
description: ObjectBox is a super-fast NoSQL ACID compliant object database.

environment:
  # minimum Dart SDK (also see generator and flutter_libs)
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  collection: ^1.15.0
  # take care updating flatbuffers - keep aligned with other bindings
  # currently using a forked version in lib/flatbuffers, except for tests (see dev_dependencies)
  # flat_buffers: 1.12.0
  ffi: ^1.0.0
  meta: ^1.3.0

dev_dependencies:
  build_runner: ^1.0.0
  objectbox_generator: any
  pedantic: ^1.11.0
  test: ^1.16.5
  ffigen: ^2.2.2
  # No null-safety compatible version yet and we only need it in tests.
  # flat_buffers: 1.12.0

# NOTE: remove before publishing
dependency_overrides:
  objectbox_generator:
    path: ../generator

ffigen:
  name: 'ObjectBoxC'
  description: 'Bindings to ObjectBox C-API'
  output: 'lib/src/native/bindings/objectbox-c.dart'
  headers:
    entry-points:
      - 'lib/src/native/bindings/objectbox.h'
      - 'lib/src/native/bindings/objectbox-dart.h'
    include-directives:
      - '**objectbox*.h'
  functions:
    rename:
      'obx_dart_(.*)': 'dartc_$1'
      'obx_(.*)': '$1'
  enums:
    member-rename:
      '(.*)': # Matches any enum.
        # Removes anything before the first '_', i.e. OBXOrderFlags_CASE_SENSITIVE becomes CASE_SENSITIVE.
        '[^_]+_(.*)': '$1'
  # add location to standard library imports, e.g. stddef.h
  llvm-lib: '/usr/lib/'
  compiler-opts: '-I/usr/lib/clang/11.1.0/include'
  typedef-map:
    'size_t': 'IntPtr'
  preamble: |
    // ignore_for_file: non_constant_identifier_names
