name: objectbox_demo
description: Note taking example app using ObjectBox Flutter database.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  objectbox: ^2.5.1
  objectbox_flutter_libs: any
  intl: any
  path_provider: ^2.0.10
  path: ^1.8.0

dev_dependencies:
  # flutter_lints 3.0.0 requires Dart 3, but CI still testing down to Dart 2.19 (Flutter 3.7)
  flutter_lints: '>=2.0.3 <4.0.0'
  build_runner: ^2.0.0
  objectbox_generator: any

flutter:
  uses-material-design: true

# Note: these overrides are only for ObjectBox internal development, don't use them in your app.
dependency_overrides:
  objectbox:
    path: ../../../../objectbox
  objectbox_generator:
    path: ../../../../generator
  objectbox_flutter_libs:
    path: ../../../../flutter_libs
