name: Build and test

on: [push, pull_request]

jobs:
  generator:
    runs-on: ubuntu-20.04
    container:
      image:  google/dart:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install ObjectBox C-API
        run: ./install.sh
      - name: Run tests
        run: ./generator/test.sh

  lib:
    needs: generator
    runs-on: ubuntu-20.04
    container:
      image:  google/dart:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install ObjectBox C-API
        run: ./install.sh
      - name: Install dependencies
        run: pub get
      - name: Generate ObjectBox models
        run: pub run build_runner build
      - name: Run tests
        run: pub run test
